html,body {
    margin: 0;
    padding: 0;
    touch-action: pan-x pan-y;
}
#fire {
    position: fixed;
    top: 22vh;
    left: 5vw;
}
#msg {
    color: red;
    position: fixed;
    bottom: 40vh;
    width: 100%;
    text-align: center;
}
#counter {
    font-size: 50vw;
    position: fixed;
    top: 5vh;
    width: 100%;
    text-align: center;
}
#click {
    height: 10vh;
    width: 60vw;
    font-size: 5vh;
    position: fixed;
    top: 55vh;
    left: 20vw;
}
#reset {
    height: 5vh;
    width: 25vw;
    font-size: 2.5vh;
    position: fixed;
    left: 37.5vw;
    top: 66vh;
}
#progressBarBase {
    width: 60vw;
    height: 1vh;
    background: lightgreen;
    position: fixed;
    bottom: 39vh;
    left: 20vw;
}
#progressBarTop {
    width: 0vw;
    height: 1vh;
    background: red;
    position: fixed;
    bottom: 39vh;
    left: 20vw;
}



/* style changes for pc */
@media (min-width: 967px) {
    #fire {
        width: 20vw;
        top: 8vh;
        left: 40vw;
    }
    #msg {
        bottom: 39vh;
    }
    #counter {
        font-size: 10vw;
        top: -10vh;
    }
    #click {
        height: 15vh;
        width: 20vw;
        font-size: 8vh;
        top: 46vh;
        left: 40vw;
    }
    #reset {
        height: 10vh;
        width: 10vw;
        font-size: 3vh;
        left: 45vw;
        top: 63vh;
    }
    #progressBarBase {
        width: 20vw;
        left: 40vw;
    }
    #progressBarTop {
        left: 40vw;
    }
}
